<h1>Welcome to JavaScript!</h1>

<button onclick="makeAlert()">Click to Make an Alert!</button>
<button onmouseover="makeAlert()">Mouse Over People!</button>
<button onmouseup="makeAlert()">Mouse Over People!</button>

